{
  "presets": [
    "es2017",
    "flow",
  ],

  "plugins": [
    "syntax-flow",
    "transform-runtime"
  ]
}

/**
 *     ["env", {
       "targets": {
         "browsers": ["last 2 versions"]
       },
       "useBuiltIns": true,
     }],
 */
