{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "flow",
  ],

  "plugins": [
    "syntax-flow",
    "transform-runtime",
    "syntax-dynamic-import"
  ]
}

/**
 *     ["env", {
       "targets": {
         "browsers": ["last 2 versions"]
       },
       "useBuiltIns": true,
     }],
 */
